configuration {
    modi:                "drun";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    font:                "Inter 13";
    click-to-exit:       true;
    sidebar-mode:        false;
    fixed-num-lines:     false;
}

@theme "dark"
